gen/
.gradle
.idea
.settings
build
.project
.classpath
local.properties
*.iml
AndroidBroadcastsMonitor.zip
AndroidBroadcastsMonitor/build
AndroidBroadcastsMonitor/debug
AndroidBroadcastsMonitor/release


